
header{
    display: flex;
    justify-content: center;
}
header h1{
    font-size: 5em;
}
.container{
    display:flex;
    justify-content: center;
}

.button{
    flex: 1;
    gap: 2em;
margin: 1em;
}
.evilbutton{
    flex: 1;
    gap: 2em;
margin: 1em;
}
.button:hover{
    background-color: darkgoldenrod;
}

#fireTxt{
color:red;
}

#grassTxt{
    color:seagreen;
    
}

#waterTxt{
    color: blue;
}

#vs{
    font-size: 5em;
    color: red;
}