.container{
    display:flex;
    justify-content: center;
}

.button{
    flex: 1;

}

.button:hover{
    background-color: darkgoldenrod;
}

#fireTxt{
color:red;
}

#grassTxt{
    color:seagreen;
    
}

#waterTxt{
    color: blue;
}